:root{
    --letra: "JetBrains Mono"
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #75e9e9;

}
.title_container{
    padding: 1%;
    font-size: x-large;
    color: #053b3d;
}
.container{
    position: absolute;
    background-color: #75e9e9;
    color: #053b3d;
    font-family: var(--letra);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app_contain{
    display: flex;
}
.form_container{
    background-color: #114647;
    color: #75e9e9;
    padding: 1em;
    border-radius: 1em;
    margin: 2rem;
    width: 16rem;
    height: 12rem;
}
#name, #puesto, #btn_plus{
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #75e9e9;
    color: #034232;
    font-family: var(--letra);
    font-size: 1rem;
    margin: .5em;
}
#btn_plus:hover{
    background-color:#034232 ;
    color:#75e9e9;
    box-shadow: 0 0 10px #75e9e9;
    cursor: pointer;
}
#form{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.list_contain{
    border: solid 2px #034232;
    border-radius: 1em;
    padding: 1em;
    margin: 2em;
    width: 25em;
    min-height: 30em;
    height: auto;
}
.btn{
    outline: none;
    background-color: none;
    border: none;
    color: #75e9e9;
    margin: 4px;
    border-radius: 2px;
    width: 3em;
    height: 2em;
    cursor: pointer;
}
.btn_close{
    background-color: #6e2001;

}
.btn_edit{
    background-color: #114647;
}
@media (max-width: 640px) {
    .container{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .app_contain{
        display: block
    }
    .form_container{
        background-color: #114647;
        color: #75e9e9;
        padding: none;
        border-radius: none;
        margin: none;
        width: 100vw;
        height: auto;
    }
    .list_contain{
    padding: 2em;
    margin: 2em;
    width: auto;
    height: auto;
    }
}